<div class="col-lg-2" ></div>
<div class="col-lg-8" >
    <div class="page-header-links">
        <h1 >My Events</h1>
        <a href="#/newevent" ng-click="initNewEvent()" > New event </a>
    </div>
    <div class="well block-link" ng-click="goToEvent(event)" ng-repeat="event in events" style="position: relative; {{photoStyle(event.photo)}}">
        <div class="overlay"></div>
        <h4 style="display: inline-block;">{{event.name}}</h4>
        <div style="position: absolute; right: 5px; top: 5px;">
            <span ng-repeat="tag in event.tags" class="label label-primary tag">
                {{tag}}
            </span>
        </div>
        <div  style="position: absolute; right: 5px; bottom: 5px;">{{event.date}} - {{event.location.name}}</div>
    </div>
</div>
<div class="col-lg-2" ></div>